[submodule "src/third_party/memfault-firmware-sdk"]
	path = src/third_party/memfault-firmware-sdk
	url = https://github.com/sofarocean/memfault-firmware-sdk.git
[submodule "src/third_party/mcuboot"]
	path = src/third_party/mcuboot
	url = https://github.com/sofarocean/mcuboot.git
[submodule "src/third_party/lwip"]
	path = src/third_party/lwip
	url = https://github.com/sofarocean/lwip.git
[submodule "src/third_party/tinyusb"]
	path = src/third_party/tinyusb
	url = https://github.com/sofarocean/tinyusb.git
[submodule "test/third_party/fff"]
	path = test/third_party/fff
	url = https://github.com/sofarocean/fff.git
[submodule "src/third_party/tinycbor"]
	path = src/third_party/tinycbor
	url = https://github.com/sofarocean/tinycbor.git
[submodule "src/third_party/cobs-c"]
	path = src/third_party/cobs-c
	url = https://github.com/sofarocean/cobs-c.git
[submodule "src/lib/bm_serial"]
	path = src/lib/bm_serial
	url = https://github.com/bristlemouth/bm_serial.git
[submodule "src/third_party/micropython"]
	path = src/third_party/micropython
	url = https://github.com/sofarocean/micropython.git
[submodule "src/third_party/micropython-lib"]
	path = src/third_party/micropython-lib
	url = https://github.com/micropython/micropython-lib.git
[submodule "src/third_party/BME280_driver"]
	path = src/third_party/BME280_driver
	url = https://github.com/sofarocean/BME280_driver.git
[submodule "src/lib/bm_core"]
	path = src/lib/bm_core
	url = https://github.com/bristlemouth/bm_core.git
