.DS_Store
cmake-build*/
*.iml
doc/
.env
*.idea*
tmpbuild_*/
*.pyc

*.swp
.cache/
compile_commands.json

tools/scripts/test/hil/*.json

tools/bin/mpy-cross

.vscode
cli-cmake-debug-build/
*build/
preset-builds

src/bsp/pluteus_v3.1/*.s
src/bsp/pluteus_v3.1/*.ld
src/bsp/sunflower_v3.3/*.s
src/bsp/sunflower_v3.3/*.ld
