#
# NOTE: Bootloader must be built first so it can be included in
# unified image for later builds
#
- name: bootloader_signing_required
  description: Production Bootloader - Requires Sofar Signed App Images
  type: build_fw
  args:
    app: bootloader
    bsp: bootloader
    build_type: Release
  sign: true

- name: bootloader_development
  description: Dev Bootloader - Accepts Unsigned App Images
  type: build_fw
  args:
    app: bootloader
    bsp: bootloader
    build_type: Release
  sign: false

- name: bridge_debug
  description: Sofar BM Bridge - Debug
  type: build_fw
  args:
    app: bridge
    bsp: bridge_v1_0
    build_type: Debug
  sign: true

- name: bridge_release
  description: Sofar BM Bridge - Release
  type: build_fw
  args:
    app: bridge
    bsp: bridge_v1_0
    build_type: Release
  sign: true

- name: aanderaa_debug
  description: Aanderaa Current Meter - Debug
  type: build_fw
  args:
    app: aanderaa
    bsp: bm_mote_bristleback_v1_0
    build_type: Debug
  sign: true

- name: aanderaa_release
  description: Aanderaa Current Meter - Release
  type: build_fw
  args:
    app: aanderaa
    bsp: bm_mote_bristleback_v1_0
    build_type: Release
  sign: true

- name: hello_world_debug
  description: Hello World - Debug
  type: build_fw
  args:
    app: hello_world
    bsp: bm_mote_v1.0
    build_type: Debug
  sign: false

- name: bm_soft_module_release
  description: BM Soft Module - Release
  type: build_fw
  args:
    app: bm_soft_module
    bsp: bm_mote_spi_v1_0
    build_type: Release
  sign: true

- name: bm_rbr_release
  description: BM RBR - Release
  type: build_fw
  args:
    app: bm_rbr
    bsp: bm_mote_bristleback_v1_0
    build_type: Release
  sign: true

- name: seapoint_turbidity_release
  description: BM Seapoint Turbidity - Release
  type: build_fw
  args:
    app: seapoint_turbidity
    bsp: bm_mote_bristleback_v1_0
    build_type: Release
  sign: true
